Client2/Connected Services/ServiceReferenceClient2/webshopService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="webshopService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="webshopService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="webshopService/Imports">
      <xsd:import namespace="webshopService" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/webshopService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWebshopContract_GetWebshopName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWebshopName" />
  </wsdl:message>
  <wsdl:message name="IWebshopContract_GetWebshopName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWebshopNameResponse" />
  </wsdl:message>
  <wsdl:message name="IWebshopContract_GetProductList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductList" />
  </wsdl:message>
  <wsdl:message name="IWebshopContract_GetProductList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductListResponse" />
  </wsdl:message>
  <wsdl:message name="IWebshopContract_GetProductInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductInfo" />
  </wsdl:message>
  <wsdl:message name="IWebshopContract_GetProductInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IWebshopContract_BuyProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:BuyProduct" />
  </wsdl:message>
  <wsdl:message name="IWebshopContract_BuyProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuyProductResponse" />
  </wsdl:message>
  <wsdl:portType name="IWebshopContract">
    <wsdl:operation name="GetWebshopName">
      <wsdl:input wsaw:Action="webshopService/IWebshopContract/GetWebshopName" message="tns:IWebshopContract_GetWebshopName_InputMessage" />
      <wsdl:output wsaw:Action="webshopService/IWebshopContract/GetWebshopNameResponse" message="tns:IWebshopContract_GetWebshopName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductList">
      <wsdl:input wsaw:Action="webshopService/IWebshopContract/GetProductList" message="tns:IWebshopContract_GetProductList_InputMessage" />
      <wsdl:output wsaw:Action="webshopService/IWebshopContract/GetProductListResponse" message="tns:IWebshopContract_GetProductList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductInfo">
      <wsdl:input wsaw:Action="webshopService/IWebshopContract/GetProductInfo" message="tns:IWebshopContract_GetProductInfo_InputMessage" />
      <wsdl:output wsaw:Action="webshopService/IWebshopContract/GetProductInfoResponse" message="tns:IWebshopContract_GetProductInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuyProduct">
      <wsdl:input wsaw:Action="webshopService/IWebshopContract/BuyProduct" message="tns:IWebshopContract_BuyProduct_InputMessage" />
      <wsdl:output wsaw:Action="webshopService/IWebshopContract/BuyProductResponse" message="tns:IWebshopContract_BuyProduct_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>